@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i');
* {
  box-sizing: border-box;
}

@font-face {font-family:'devicons';
  src:url('/dist/fonts/devicons.eot?xqxft6');
  src:url('/dist/fonts/devicons.eot?#iefixxqxft6') format('embedded-opentype'), url('/dist/fonts/devicons.woff?xqxft6') format('woff'), url('/dist/fonts/devicons.ttf?xqxft6') format('truetype'), url('/dist/fonts/devicons.svg?xqxft6#devicons') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eece1a;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.2rem;
    text-align: justify;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    span {
      color: set-text-color($secondary-color);
    }
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.btn-light a {
  color: #000;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.accordion {
  background: #444;
  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #333;
  border-right: #444 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 450px;
}

.tab:hover .development a:before {
  margin-left: -100px;
}

.tab:hover .development a:after {
  margin-left: -5px;
}

.tab .content {
  background: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  padding: 50px 0 0 15px;
  position: relative;
}

.tab .content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
  color: #000;
}

.development a:after,
.development a:before {
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px devicons;
  color: #fff;
}

.development a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.frontend a:before,
.frontend a:after {
  content: '\e681';
}
.frontend a:after {
  background-color: #fdd804;
}

.backend a:before,
.backend a:after {
  content: '\e63d';
}
.backend a:after {
  background-color: #8892BF;
}

.database a:before,
.database a:after {
  content: '\e6a4';
}
.database a:after {
  background-color: #13aa52;
}

.frameworks a:before,
.frameworks a:after {
  content: '\e647';
}
.frameworks a:after {
  background-color: #563d7c;
}

.cloud a:before,
.cloud a:after {
  content: '\e6ae';
}
.cloud a:after {
  background-color: #0069ff;
}

.text-editor a:before,
.text-editor a:after {
  content: '\e60c';
}
.text-editor a:after {
  background-color: #373277;
}

@media (max-width: 950px) {
   .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #333 solid;
  }

  .accordion {
    display: block;
    min-width: 450px;
    height: auto;
  }

  .tab .content {
    width: 85%;
  }

  .tab:hover {
    width: 100%;
  }
}

@media (max-width: 680px) {
   .accordion {
    width: 100%;
    min-width: 350px;
  }


}

@media (max-width: 420px) {
  .accordion {
   width: 100%;
   max-width: 400px;
 }


}


@import 'mobile';
